body
{
    text-align: center;
    background-image: url('../img/background_padang.jpg');
    font-family: Tahoma,Geneva,sans-serif;
    background-color: #D0D0D0;
    background-attachment: fixed;
    
}

a
{
   text-decoration: none;  
}

h2
{
    font-size: 20px;
}

#marquee
{
    font-size: 35px; 
    letter-spacing: 0px;
    color: black;
    height: 40px;
    margin: 0;
}

#marquee:hover
{
    color: red;
    cursor: pointer;
}

/*-------------------------------------------------------------------------------*/

.page_wrap
{
    
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    
    background-color: #EFEFEF;
    border-bottom-left-radius: 1em 3em;
    border-bottom-right-radius: 1em 3em;
    border-top-right-radius: 1em 3em;
    border-top-left-radius: 1em 3em;
    
}

.page_wrap2
{
    background-color: #9e805c;
    margin: 0;
    padding: 0;
    height: 30px;
    
}
/*-------------------------------------------------------------------------------*/

.header_top
{
    
    width: auto;
    height: 60px;
    margin-top: 20px;
    background-color: #EFEFEF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.header_top p
{
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
}

.header_top div
{
    
    height: 31px;
    width: 200px;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    padding: 0;
}

/*-------------------------------------------------------------------------------*/

.submenu
{
    border: 1px solid #D0D0D0;
    width: auto;
    height: 90px;
    margin: 0px 0px 3px 0px;
    background-color: #A7A7A7;
    text-decoration:  none;
}

/*menu navigation*/

/*end menu navigation*/

.submenu ul
{
    margin: 20px;
    margin-left: 70px;
    padding: 0;
    display: inline-table;
    text-decoration:  none;
}

.submenu ul li
{
    
    display: inline-table;
    border-right: 1px solid #EFEFEF;
    width: 132px;
    text-align: center;
    cursor: pointer;
    color: #EFEFEF;
    text-decoration:  none;
    
}


.submenu ul li:hover
{
    color: red;
}


.submenu td
{
    color: #EFEFEF;
    text-align: center;
    width: 150px;
    margin-bottom: 3px;
    text-decoration: none;
}

.submenu td a
{
    color: black;
}

.submenu td a:hover
{
    color: white;
}

.submenu td:hover
{
    color: #EFEFEF;
   background-color: red;
   border-radius: 5px;
    
}

.submenu table
{
    
    width: 130px;
    padding-top: 10px;
}



/*-------------------------------------------------------------------------------*/

.image
{
    
    width: 997px;
    height: 240px;
    margin: 0px 0px 3px -190px;
    
}





/*-------------------------------------------------------------------------------*/

.contain
{
    
    width: auto;
    height: auto;
    margin: 10px 0px 3px 0px;
    background-color: #EFEFEF;
    
}

.contain #left_content
{
    
    display: inline-table;
    height: 600px;
    width: 590px;
    padding: 10px;
    
}

.contain #left_content #hiasanLeftContain
{
    
    height: 40px;
    width: 200px;
    margin: 0px 0px 7px 0px;
    padding: 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 6px #A7A7A7;
    cursor: pointer;
}

.contain #left_content #hiasanLeftContain:hover
{
    background-color: yellow;
    color: red;
}

.contain #left_content #hiasanLeftContain h2
{
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin: 0;
}

.contain #left_content div
{
    padding: 10px;
    height: auto;
    margin: 0px 0px 10px 0px;
    background-color: navajowhite;
    box-shadow: 5px 5px 10px #A7A7A7;
    border-top-left-radius: 2em 0.5em;
    border-top-right-radius: 1em 3em;
    border-bottom-right-radius: 4em 0.5em;
    border-bottom-left-radius: 1em 3em;
}

.contain #left_content span
{
    
}

#reading
{
    cursor: pointer; 
    color: red;
    opacity: 0.7;
}

#reading:hover
{
    color: red;
    opacity: 1;
}

#reading2
{
    display: none;
    cursor: pointer;
    color: red;
    opacity: 0.7;
}

#reading2:hover
{
    color: red;
     opacity: 1;
}

#containReading
{
    display: none;
   
}

.contain #right_content
{
    
    display: inline-table;
    height: 700px;
    width: 285px;
    padding: 10px;
    float: right;
   margin-right: 15px;
}

.contain #right_content div
{
    
    height: auto;
    margin: 0px 0px 3px 0px;
    
}

.contain #right_content #event
{
    margin-top: 270px;
    text-align: center;
}

.contain #right_content #event ul
{
    
    word-wrap: break-word;
    width: 260px;
    margin-top: 30px;
   
}

.contain #right_content #event li
{
    
    text-align: left;
    margin-bottom: 10px;
    list-style-image: url('../icon/logoEvent.png');
    word-wrap: break-word;
    margin-left: 30px;
    height: auto;
    padding: 0;
}



.contain #right_content p
{
    margin: 0;
    padding: 0;
    letter-spacing: 10px;
    font-weight: bold;
}

.contain #right_content a
{
    opacity: 0.7;
}

.contain  #right_content a:hover
{
    color: red;
    opacity: 1;
}

.contain #right_content #link
{
    border: 4px solid #A7A7A7;
    
    width: auto;
}

.contain #right_content #link td
{
    border: 1px solid black;
    width: 300px;
    text-align: center;
    
}

.contain #right_content #link img
{
    width: 280px;
    height: 100px;
    
}

.contain #right_content #tanggal
{
    background-color: midnightblue;
    width: 278px;
    margin-left: 20px;
    position: absolute;
}


#link1
{
    display: block;
    cursor: pointer;
}

#link1:hover
{
    color: red;
}

.link_view
{
    display: none;
}
/*-------------------------------------------------------------------------------*/

.footer
{
    margin: 0;
    padding: 0;
    width: auto;
    height: 40px;
    background-color: #A7A7A7;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.footer ul li
{
    
    list-style: none;
    display: inline-table;
    margin-top: 10px;
    width: 130px;
    text-align: center;
    color: #EFEFEF;
    cursor: pointer;
}

.footer ul li:hover
{
    color: black;
}

.footer p
{
    
    text-align: center;
    
    padding: 0;
        
}